.App {
  font-family: Roboto;
  height: 100vh;
}

.container {
  padding: 24px;
  overflow-y: auto;
  background: #2f2f2f;
}

.vis-network {
  outline: none !important;
}

.MuiSelect-root {
  font-size: 0.9em !important;
  padding: 8.5px 30px 8.5px 12px !important;
}

.Mui-selected {
  background: #ebebeb !important;
}

.MuiListSubheader-sticky {
  background: #fff !important;
  font-weight: 900 !important;
}
